In [2]:
!pip install torchsummary       # Pytorch 모델을 Summary해주는 module

Collecting torchsummary
  Downloading https://files.pythonhosted.org/packages/7d/18/1474d06f721b86e6a9b9d7392ad68bed711a02f3b61ac43f13c719db50a6/torchsummary-1.5.1-py3-none-any.whl
Installing collected packages: torchsummary
Successfully installed torchsummary-1.5.1

In [3]:
import os
import time
from tqdm.notebook import tqdm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from torch.utils.tensorboard import SummaryWriter          # 텐서보드에서 시각화해주는 module
from torchvision import datasets, transforms, utils
from torchsummary import summary
from sklearn.metrics import accuracy_score, confusion_matrix

from PIL import Image

In [4]:
writer = SummaryWriter('runs/fashion-mnist-1')

# Data Load

In [6]:
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./data\fashion-mnist_test.csv
./data\fashion-mnist_train.csv
./data\t10k-images-idx3-ubyte
./data\t10k-labels-idx1-ubyte
./data\train-images-idx3-ubyte
./data\train-labels-idx1-ubyte

In [10]:
train_df = pd.read_csv('./data/fashion-mnist_train.csv')
test_df = pd.read_csv('./data/fashion-mnist_test.csv')
train_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
print(train_df.shape, test_df.shape)
print(train_df.info())
print(test_df.info())

(60000, 785) (10000, 785)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 785 entries, label to pixel784
dtypes: int64(785)
memory usage: 359.3 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 785 entries, label to pixel784
dtypes: int64(785)
memory usage: 59.9 MB
None

In [12]:
train_df.iloc[0, 1:].max()

255

In [13]:
train_df['label'].value_counts()

9    6000
8    6000
7    6000
6    6000
5    6000
4    6000
3    6000
2    6000
1    6000
0    6000
Name: label, dtype: int64

In [14]:
test_df['label'].value_counts()

7    1000
6    1000
5    1000
4    1000
3    1000
2    1000
9    1000
1    1000
8    1000
0    1000
Name: label, dtype: int64

In [15]:
class_labels = train_df['label'].unique().tolist()
print(class_labels)

[2, 9, 6, 0, 3, 4, 5, 8, 7, 1]

# Reference
- https://www.kaggle.com/gokulkarthik/image-classification-using-lenet-in-pytorch



tensorboard
- https://pytorch.org/docs/stable/tensorboard.html